*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height: 1.6;
}

header{
    background: rgb(252, 235, 0);
    color: #000000f5;
    padding: 1rem 0;
    text-align: center;
}