@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Fredoka", sans-serif;
}

html, body{
    overflow-x: hidden;
}


body{
    font-family:Arial, sans-serif;
    line-height: 1.6;
}

header{
    background: rgb(228, 215, 40);
    color: #000000f5;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
    transition: 1s ease;
    font-weight: 600;
}

main {
    padding: 1rem;
}

.container-adocao{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subt-adocao-container{
    height: 90px;
}

.subt-adocao{
    font-size: 50px;
}

.project-grid-1{
    display: grid;
    justify-content: left;
}

.img-grid{
    width: 200px;
    border-radius: 16px;
    height: 200px;
}

.p-place-hour{
    opacity: 0.6;
}


section {
    margin-bottom: 2rem;
}

form {
    display: grid;
    gap: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%
}

.p-footer{
    position: relative;
    bottom: 8px;
}