@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html, body{
    overflow-x: hidden;
}


body{
    font-family:Arial, sans-serif;
    line-height: 1.6;
}

header{
    background: rgb(228, 215, 40);
    color: #000000f5;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
    transition: 1s ease;
    font-weight: 600;
}

main{
    padding: 1rem;
}

#home{
    margin-bottom: 100px;
}

.container-welcome{
    display: grid;
    justify-content: center;
    
}

.flex-container{
    display: flex;
    justify-content: center;
}

.subt-welcome{
    font-size: 15rem;
    position: relative;
    display: flex;
    right: 3rem;
}

.img-logo{
    width: 200px;
    height: 200px;
    right: 7rem;
    top: 15rem;
    position: absolute;
}

@media screen and (max-width: 2000px){
    .img-logo{
        right: -0.4rem;
    }
}

@media screen and (max-width: 1920px){
    .img-logo{
        right: 19rem;
    }
}

.p-welcome-container{
    display: grid;
    justify-content: center;
}

.p-welcome-container p{
    font-size: 20px;
}

.container-adocao{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subt-adocao-container{
    height: 90px;
}

.subt-adocao{
    font-size: 50px;
}

.project-grid-1{
    display: grid;
    justify-content: left;
}

.blackline{
    margin: 100px;
    background: black;
    height: 3px;
}

.img-grid{
    width: 200px;
    border-radius: 16px;
    height: 200px;
}

.p-place-hour{
    opacity: 0.6;
}

.p-sobre-nos{
    text-align: justify;
    width: 50rem;
}

section {
    margin-bottom: 2rem;
}

#contact{
    display: flex;
    justify-content: center;
    
}

.img-dawg{
    height: 400px;
}

.grid-div{
    height: 30rem;
    background-color: rgb(247, 239, 127);
    display: grid;
    gap: 0;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    width: 40rem;
    padding-bottom: 9px;
}

#sobre_nos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#sobre_nos h2{
    font-size: 50px;
    display: grid;
    align-items: center;
}

#sobre_nos p{
    font-size: 30px;
}

.img-grupo-miau{
    width: 400px;
    height: 500px;
    border-radius: 40px;
}

.p-contacts{
    text-align: justify;
    width: 30rem;
}

form {
    display: grid;
    gap: 1rem;
    width: 30rem;
    height: 20rem;
    font-weight: 900;
}

.text-box{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgb(116, 116, 116);
}

.text-box:hover{
    background-color: rgb(228, 215, 40);
    transition: 1s linear;
    border: none;
    box-shadow: 10px 5px 5px black;
}

.button-form{
    font-size: 20px;
    box-shadow: 10px 5px 5px rgb(116, 116, 116);
}

.button-form:hover{
    background-color: rgb(228, 215, 40);
    transition: 1s linear;
    transform: scale(1.1);
    border-radius: 20px;
    font-weight: 900;
    box-shadow: 10px 5px 5px black;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%
}

.p-footer{
    position: relative;
    bottom: 8px;
}